
 <br><br>
 <html>
     <style>
         body{
             background-image: url('/static/bg.jpg');
             color: white;
             font-size: large;
             margin-left: 30px;
         }
         .btn{
             padding: 10px;
             color: white;
             background-color: rgb(5, 45, 109);
             border-radius: 25px;
         }
 
         button{
             position: absolute;
             bottom: 50px;
         }
         
     </style>
     <body>
         <div class="intro">
             <pre> Your Model Has been Converted TO TFlite.
                 For Now you can find the Converted Model in the root Directory of the project saved as Converted_model.tflite
          You can directly use that model to your Mobile Application.
                        Thank You 
             </pre>


 
           
         </div>
 
         
     </body>
     
 </html>